{% extends 'layout.twig' %}

{%  block content %}

    <section class="users">

        {% include 'parts/header.twig' %}

        <div>
            <ul class="tabs">
                <li class="active"><a href="#Home"><i class="fa fa-home"></i> Accueil</a></li>
                <li><a href="#Groupes"><i class="fa fa-users"></i> Groupes</a></li>
                <li><a href="#Tools"><i class="fa fa-tools"></i> Configuration</a></li>
            </ul>

            <div class="tabs-content">

                {#            chat tab#}
                {% include 'parts/home.twig' %}

                {#                groupes#}
                {% include 'parts/groupes.twig' %}

                {#            tools tab#}
                {% include 'parts/tools.twig' %}
            </div>

        </div>
    </section>

{%  endblock %}

{% block js %}
    <script>
        // tabs
        const links = Array.from(document.querySelectorAll(".tabs li a"))
        // const liTabs = document.querySelectorAll(".tabs li")

        function showTabs(link) {
            link.addEventListener('click', function(e) {
                // e.preventDefault()
                const li = link.parentNode
                const parentDiv = link.parentNode.parentNode.parentNode

                if (li.classList.contains('active')) {
                    return false;
                }

                parentDiv.querySelector('.tabs .active').classList.remove('active')
                li.classList.add('active')
                parentDiv.querySelector('.tabs-content .active').classList.remove('active')
                parentDiv.querySelector(link.getAttribute('href')).classList.add('active')

            })
        }

        links.forEach(function(link) {
            showTabs(link)
        })

        const hash = window.location.hash
        const _link = document.querySelector('a[href="' + hash + '"]')
        if (_link !== null && !_link.classList.contains('active')) {
            showTabs(_link)
        }
        console.log(hash)
    </script>
{% endblock %}