<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title "Let's Talk" %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.css') }}">
</head>

<body class="dark">
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
    {% block js %}{% endblock %}
    <script src="{{ asset('css/app.js') }}"></script>
</body>
</html>