*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
:root{
    --bg-color: #f7f7f7;
    --main-color: #fff;
    --boder-color: #e6e6e6;
    --box-shadow: rgba(0,0,0,0.1);
    --box-shadow2: rgba(0,0,0,0.5);
    --black-color: #333;
    --black-color1: #000;
    --chat: #f7f7f7;
    --tab-link: #EEE;
    --tab-active: #fff;
    --default-color: #333;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #333;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 0, 0);
}
.dark{
    --bg-color: #181a1e;
    --box-shadow: rgba(172, 147, 147, 0.1);
    --box-shadow2: rgba(85, 76, 76, 0.5);
    --black-color: #ddd;
    --black-color1: #fff;
    --chat: #131314;
    --main-color: #181a1e;
    --tab-link: #21252e;
    --tab-active: #181a1e;
    --default-color: #fff;
}


.error{
    color: #721c24;
    padding: 5px 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--default-color);
}
.wrapper{
    background: var(--main-color);
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 var(--box-shadow),
                0 32px 64px -48px var(--box-shadow2);
}
/* Login & signup */
.form{
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--boder-color);
}
.form form{
    margin: 20px 0;
}
.form form .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}
.error-txt li{
    list-style: none !important;
}
.form form .name-details{
    display: flex;
}
form .name-details .field:first-child
{
    margin-right: 10px;
}
form .name-details .field:last-child
{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .field input{
    outline: none;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 40px;
    transform: translateY(-50%);
    cursor: pointer;
} 
.form form i.active::before{
    color: #333;
    content: "\f070";
}
.form form .image input{
    font-size: 17px;
}
.form form .button input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.form form input.has-error{
    border: 2px solid #721c24;
}
.form .link{
    text-align: center;
    margin: 10px 0;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}


/* user interface */
.users{
    padding: 25px 30px;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--boder-color);
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 50px;
    width: 50px;
}
.users .content .details span a{
    color: var(--black-color);
}
:is(.users, .users-list) .details{
    color: var(--black-color);
    margin-left: 15px;
}
:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
    outline: none;
    border: none;
}
.users .search{
    margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 18px;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}
.users .search button{
    width: 47px;
    height: 47px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    font-style: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}
.users .search button.active{
    color: #fff;
    background-color: #333;
}
.users .search button.active i::before{
    content: "\f00d";
}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}

.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    padding-right: 5px;
    border-bottom-color: #f1f1ff;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img{
    height: 40px;
    width: 40px;
}
.users-list a .content p{
    color: #67676a;
}
.users-list a .status-dot{
    font-style: 12px;
    color: #468669;
}
.users-list a .status-dot.offline{
    color: #ccc;
}
i.fa-circle{
    font-size: 0.6rem;
    padding-right: 10px;
}

/* chat */
.chat-erea header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-erea header .back-icon{
    font-style: 18px;
    color: var(--black-color);
}
.chat-erea header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.chat-erea header span{
    font-style: 17px;
    font-weight: 500;
}
.chat-erea header span a{
    color: var(--black-color1) !important;
}
.chat-box{
    height: 500px;
    overflow-y: auto ;
    background: var(--chat);
    padding: 10px 30px 20px 30px;
    box-shadow: inset inset 0 32px 32px -32px rgb(0 0 0 / 5%)
                      inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
    display: flex;
    align-items: flex-end;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
    display: flex;
    align-items: center;
}
.chat-box .incoming img{
    height: 35px;
    width: 35px;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}
.chat-erea .send-message{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.send-message input{
    height: 45px;
    width: calc(100% - 58px);
    font-style: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.send-message button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-style: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

/* profil */
.profil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.profil .back-icon{
    color: #333;
    position: absolute;
    top: 20px;
    left: 25px;
}
.profil .details{
    text-align: center;
}
.profil .img{
    text-align: center;
}
.profil .img img{
    height: 160px;
    width: 160px;
}
.profil .desc{
    text-align: center;
    padding: 10px 15px;
}
.profil .desc span{
    color: rgb(172, 169, 169);
    border-bottom: 1px solid;
}


/* tabs  */
.tabs li a{
    color: var(--black-color);
}
ul.tabs, .tabs li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs li{
    float: left;
    display: block;
}
.tabs::after{
    display: table;
    content: '';
    clear: both;
}
.tabs a{
    display: inline-block;
    background-color: var(--tab-link);
    padding: 10px;
}
.tabs .active a{
    background-color: var(--tab-active);
}
.tabs-content{
    position: relative;
    z-index: 3;
    padding-top: 10px;
    background-color: var(--bg-color);
    margin-bottom: 20px;
    text-align: justify;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}

.dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}