<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NotFound</title>
    <style>
        body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #21252e;
            color: #dddddd;
            font-family: "Montserrat SemiBold";
        }
        h1{
            font-size: 5rem;
        }
    </style>
</head>
<body>
    <h1>404</h1>
</body>
</html>